.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #787888;
  border: 3px solid #223;
  border-radius: 30%;
  box-shadow: 0 0 0 1px #03030380, 0 0 5px #0006;
}

.button:active {
  cursor: pointer;
  user-select: none;
  background-color: #3348;
  border-color: #334;
  transform: scale(0.85);
}

.dl {
  border-radius: 30% 30% 30% 100%;
}

.dr {
  border-radius: 30% 30% 100%;
}

.ur {
  border-radius: 30% 100% 30% 30%;
}

.ul {
  border-radius: 100% 30% 30%;
}
