.display {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  width: 100%;
  height: 100%;
  background-color: #dca;
  border: 10px solid #333;
  border-radius: 10px;
}

.stone {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4a2;
  border-width: 5px;
  border-top: solid #290 7px !important;
  border-right: solid #fa2 !important;
  border-bottom: solid #e91 !important;
  border-left: solid #fb3 !important;
} /* TODO 要変更 */

.number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: url('~/public/images/icons.png') no-repeat;
  background-size: 1400%;
  border: solid #fff 1px;
}

.player {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid #f00d;
}

.selector {
  position: absolute;
  top: -7px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 12px);
  background-color: #f004;
}
