.display {
  display: grid;
  grid-row: 1 / 4;
  grid-column: 2 / 5;
  background-color: #f00;
  border-radius: 10px;
  transition: inset 0.5s ease-out;
}

.display * {
  position: relative;
  user-select: none;
  background-color: #dca;
  background-size: 1400%;
  border: 1px solid #fff;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~/public/images/icons.png') no-repeat;
  background-color: #dca;
  background-position: -7.65%;
  background-size: 1400%;
  border: solid #fff 1px;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~/public/images/icons.png') no-repeat;
  background-position-x: 69%;
  background-size: 1400%;
  border: solid #fff 1px;
}

.bomb {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('~/public/images/icons.png') no-repeat;
  background-position-x: 76.8%;
  background-size: 1400%;
  border: solid #000 1px;
}

.user {
  border-color: #f00;
}

.selector {
  opacity: 0.5;
}

.block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border: #aaa solid 2px;
}
