.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main {
  display: grid;
  grid-area: main;
  grid-template:
    ' width  width  width    '
    ' height height height   '
    ' bomb   bomb   bomb     '
    ' .      create  delete  ';
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 3fr 2fr;
  gap: 10px;
  width: 500px;
  height: 250px;
  padding: 10px 20px;
  background-color: #aab;
  border: 6px solid #4468;
  border-radius: 10px;
  box-shadow: 0 0 0 0 #000, 0 0 50px #0006;
}

.create {
  display: flex;
  grid-area: create;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #787888;
  border: 3px solid #223;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #03030380, 0 0 5px #0006;
}

.button:hover {
  cursor: pointer;
  background-color: #3348;
}

.button:active {
  transform: scale(0.95);
}

.width,
.height,
.bomb {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  gap: 5px;
}

.width,
.height,
.bomb * {
  display: grid;
}

.width {
  grid-area: width;
}

.height {
  grid-area: height;
}

.bomb {
  grid-area: bomb;
}

.center {
  /* TODO */
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: #fffa;
  user-select: none;
  background-color: #101010;
  border-radius: 8px;
  box-shadow: 0 0 0 1px #03030380;
}

.delete {
  display: flex;
  grid-area: delete;
  align-items: center;
  justify-content: center;
  color: #fffa;
  background-color: #c44;
  border: 3px solid #dcc;
  box-shadow: 0 0 0 1px #fafafa80, 0 0 5px #fff6;
}

.delete:active {
  border-color: #edd;
}
