.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr 250px 1fr;
  grid-template-areas:
    '. .    .'
    '. main .'
    '. .    .';
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 20px 1fr 1fr 1fr 20px;
  grid-template-rows: 10px 1fr 1fr 1fr 1fr 10px;
  grid-template-areas:
    '. . .                . . '
    '. width  width  width  . '
    '. height height height . '
    '. bomb   bomb   bomb   . '
    '. .      create  .     . '
    '. . .                . . ';
  gap: 10px;
}

.main * {
  border-radius: 10px;
}

.create {
  grid-area: create;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.width,
.height,
.bomb {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.width,
.height,
.bomb * {
  display: grid;
}

.width {
  grid-area: width;
}

.height {
  grid-area: height;
}

.bomb {
  grid-area: bomb;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
