.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f6f6fa;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 1vmin;
  width: min(92vw, 58svh);
  aspect-ratio: 16 / 9;
  padding: 4vmin;
  background-color: #f6f6fa;
  border: 0.6vmin solid #fdfdff;
  border-radius: 3vmin;
  box-shadow: 0 0 0 0.2vmin #bbc, 0 0 2vmin #0003;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #333;
  background-color: #ddeffa;
  border: 0.3vmin solid #d7eaf6;
  border-radius: 0.8vmin;
  transition-timing-function: ease-in-out, ease-in, ease-in-out, ease-in-out;
  transition-duration: 0.2s, 0.1s, 0.2s, 0.2s;
  transition-property: background-color, transform, border-color, box-shadow;
}

.button:hover {
  background-color: #c9deec;
}

.button:active {
  transform: scale(0.9);
}

.button:focus-visible {
  border-color: #50b2f0;
  outline: none;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  grid-column: 1 / 3;
  color: #fff;
  background-color: #4681ee;
  border: 0;
}

.create:hover {
  background-color: #2467cc;
}

.create:focus-visible {
  outline: none;
  box-shadow: 0 0 1vmin #326ceb;
}

.link {
  grid-column: 3 / 4;
  width: 100%;
  height: 100%;
}

.link > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: #333;
  background-color: #e8e8f3;
  border-radius: 0.8vmin;
  transition-timing-function: ease-in-out, ease-in, ease-in-out;
  transition-duration: 0.2s, 0.1s, 0.2s;
  transition-property: background-color, transform, box-shadow;
}

.link:hover > a {
  background-color: #dcdce7;
}

.link:active > a {
  transform: scale(0.9);
}

.link > a:focus-visible {
  outline: none;
  box-shadow: 0 0 1vmin #acaccd;
}

.delete {
  grid-column: 4 / 6;
  color: #fff;
  background-color: #ee4646;
  border: 0;
}

.delete:hover {
  background-color: #cc2424;
}

.delete:active {
  border-color: #edd;
}

.delete:focus-visible {
  outline: none;
  box-shadow: 0 0 1vmin #f94747;
}
