.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16 / 9; /*一旦*/
  grid-template-columns: 27fr 5fr; /*動画が3：2になる*/
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stone {
  width: 100%;
  height: 100%;
  background-color: #c6c6c6;
  border: outset 2px #c6c6c6;
}

.number {
  background: url() no-repeat;
}

.ranking {
  display: grid;
  flex-direction: row;
  grid-template-rows: 3fr 2fr 2fr repeat(7, 1fr);
}

.prof {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-template-columns: 1fr 8fr 8fr 4fr;
  grid-area: 'rank name score live';
}

.rank {
  grid-area: rank;
}

.name {
  grid-area: name;
}

.score {
  grid-area: score;
}

.live {
  grid-area: live;
}
