.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  aspect-ratio: 16 / 9; /*一旦*/
  grid-template-columns: 27fr 5fr; /*動画が3：2になる*/
}

.game {
  display: grid;
  flex-direction: column;
  padding: 1vmin;
}

.stone {
  width: 100%;
  height: 100%;
  background-color: #000;
  /* border: outset 2px #c6c6c6; */
}

.number {
  background: url() no-repeat;
}

.ranking {
  display: grid;
  flex-direction: row;
  grid-template-rows: 3fr 2fr 2fr repeat(7, 1fr);
  gap: 1vmin;
  padding: 1vmin;
  border-left: solid 1px;
}

.prof {
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50% 50%;
  grid-template: 'rank name' 'rank score ';
  border-right: solid 1vmin;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: rank;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: name;
  border-bottom: solid 1px;
  font-family: 'Ozwald Regular';
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: score;
  font-size: 10e;
  text-shadow: 0.4px 0.5px 1px #000;
  font-family: 'Ozwald Regular';
}

.rankImage {
  width: 50px;
  height: 50px;
}
