.container {
  display: grid;
  grid-template:
    '. .    .    .'
    '. info main .'
    '. .    .    .';
  grid-template-rows: 20px 1fr 20px;
  grid-template-columns: 20px 2fr 8fr 20px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main {
  display: grid;
  grid-area: main;
  width: 100%;
  height: 100%;
}

.cell {
  display: flex;
  width: 100%;
  height: 100%;
}

.player {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f008;
  border-left: solid 5px;
}

.player:hover * {
  z-index: 99999; /* TODO top layerを調べる */
  color: #000;
  user-select: none;
  background-color: #fff;
  border: solid 1px;
}

.playerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  color: #0000;
}

.nameInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99998;
  color: #000;
  background-color: #fff;
  border: solid 1px;
}

.focusInfo {
  display: grid;
  grid-area: info;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 0 1fr 0;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  border: 6px solid #4468;
  box-shadow: 0 0 0 0 #000, 0 0 50px #0006;
}

.focusInfoRow {
  display: flex;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fffa;
  word-break: break-all;
  background-color: #101010;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #03030380;
}

.button {
  display: flex;
  grid-column: 2/3;
  align-items: center;
  justify-content: center;
  color: #fffa;
  background-color: #c44;
  border: 3px solid #dcc;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #fafafa80, 0 0 5px #fff6;
}

.button:hover {
  cursor: pointer;
  background-color: #3348;
}

.button:active {
  border-color: #edd;
  transform: scale(0.95);
}
