.controller {
  position: relative;
  height: 100svh;
  overflow: hidden;
}

.moveButton {
  position: fixed;
  bottom: 2vmax;
  left: 2vmax;
  z-index: 1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1vmax;
  width: 18vmax;
  aspect-ratio: 1;
}

.button {
  font-size: 3vmin;
  font-size: 2vmax;
  border: 0.3vmax solid #e9e9f1;
  border-radius: 2vmax;
}

.flagButton,
.openButton,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  touch-action: manipulation;
  user-select: none;
  background-color: #f5f5f9;
  box-shadow: 0 0 1vmax #000;
  transition: transform 0.1s ease-out;
}

.flagButton,
.openButton {
  position: fixed;
  z-index: 1;
  width: 8vmax;
  aspect-ratio: 1;
  font-size: 4vmax;
  border: 0.5vmax solid #e9e9f1;
  border-radius: 2vmax;
}

.flagButton {
  right: 2vmax;
  bottom: 12vmax;
}

.openButton {
  right: 12vmax;
  bottom: 2vmax;
}

.button:active,
.digButton:active,
.flagButton:active {
  transform: scale(0.9);
}
