.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 1fr 300px 1fr;
  grid-template-areas:
    '. .    .'
    '. cont .'
    '. .    . ';
  align-items: center;
  font-family: 'Jost', 'Zen Kaku Gothic New', sans-serif;
}

.controller {
  display: grid;
  grid-area: cont;
  width: 100%;
  height: 100%;
  background-color: #aab;
  border-radius: 40px;
  grid-template-columns: 10px 1fr 400px 1fr 10px;
  grid-template-rows: 10px 1fr 10px;
  grid-template-areas:
    '. .     .       .      . '
    '. cross display button .'
    '. .     .       .      . ';
  box-shadow: 0 0 0 0 #000, 0 0 50px #0006;
  border: 6px solid #4468;
}

.display {
  grid-area: display;
  background-color: #000;
}

.button-container {
  width: 15vw;
  height: 15vw;
  background-color: #42567a;
  border-radius: 50%;
  display: grid;
  grid-template-rows: 2fr 4fr 3fr 3fr 4fr 2fr;
  grid-template-columns: 2fr 4fr 3fr 3fr 4fr 2fr;
  border: 3px solid #42567a;
  box-shadow: 0 0 0 1px #03030380, 0 0 5px #0006;
}

.button {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #787888;
  border: 3px solid #223;
  box-shadow: 0 0 0 1px #03030380, 0 0 5px #0006;
  user-select: none;
}

.button:active {
  cursor: pointer;
  background-color: #3348;
  transform: scale(0.85);
  border-color: #334;
  user-select: none;
}

.cross-layout-position-top {
  grid-row: 1/3;
  grid-column: 3/5;
  border-radius: 30%;
}

.cross-layout-position-bottom {
  grid-row: 5/7;
  grid-column: 3/5;
  border-radius: 30%;
}

.cross-layout-position-left {
  grid-row: 3/5;
  grid-column: 1/3;
  border-radius: 30%;
}

.cross-layout-position-right {
  grid-row: 3/5;
  grid-column: 5/7;
  border-radius: 30%;
}

.flag-button {
  display: flex;
  grid-column: 4/6;
  grid-row: 2/4;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  font-size: 4vmin;
}

.open-button {
  display: flex;
  grid-column: 2/4;
  grid-row: 4/6;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 40%;
  font-size: 4vmin;
}
