.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
}

.title {
  margin-bottom: -8svmin;
  font-family: serif;
  font-size: 5svmin;
  color: #333;
}

.title > span {
  font-size: 6svmin;
}
